o/*Mobile First*/
body{
    max-width: 600px;
    margin: auto;
}

.hero-image{
    background-image: url(http://cdn.modernfarmer.com/wp-content/uploads/2016/11/Turkey_MG_3043_flat_sharp-cmyk-1200x816.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 407px;
    display: flex;
    align-items: flex-end;
}

.hero-main-title,
.hero-shadow,
.hero-dot{
    position: relative;
}

.hero-shadow{
    background-color: black;
    opacity: .7;
    height: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}


h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.5em;
    text-align: right;
}

.hero-dot{
    width: 1em;
    height: 1em;
    border-radius: 50px;
    background-color: #b62b25;
    margin: 1.4em;
}

.hero-main-title,
.hero-dot{
    margin-right: 1em;
}
/*Trending section CSS - Kaitlyn*/
.trending{
	background-color: #efefef;
	margin: -440px 600px;
	height: 1200px;
	width: 600px
	}
.egg{
	width:300px;
	height: 300px;
	margin: 0px 30px
	}
	.turkey{
		position: absolute;
		width: 250px;
		height:300px;
		margin: -300px 350px}
.corn{
	width:300px;
	height: 300px;
	margin: 0px 30px;
	}
	.foods{
		position: absolute;
		width: 250px;
		height:300px;
		margin: -300px 350px}
.img3{
	width:300px;
	height:300px;
	margin: 0px 30px;
	}
	.piggy{
		position: absolute;
		width: 250px;
		height:300px;
		margin: -300px 350px}
h2{ 
	font-family: "Helvetica neue";
	font-size: 1.5 em;
	color: a9a9a9;
	}
h3 {
	margin: -10px ;
	font-family: "Helvetica neue";
	font-size: 1.5 em;
	color: a9a9a9;
		}
/*Merchandise section CSS - James*/
.merchandise{
  float:right;
}
.title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color:gray;
}
.cookware{
  background-image: url(http://cdn.modernfarmer.com/wp-content/uploads/2016/10/LeCreuset.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 410px;
  width: 410px;
  display: flex;
  align-items: flex-end;
}

.Merch1,
.shadow1,
.dot1{
    position: relative;
}

.shadow1{
    background-color: black;
    opacity: .7;
    top:-4.3em;
    height: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}


.Merch1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: .6em;
    text-align: right;
}

.dot1{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #FFFFFF;
    margin: 1em;
}

.Merch1,
.dot1{
  margin-right: 1em;
}
/* second image */

.belt{
  background-image: url(http://cdn.modernfarmer.com/wp-content/uploads/2016/10/etsy-garden-belt-768x1024.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 410px;
  width: 307.5px;
  display: flex;
  align-items: flex-end;
}

.Merch2,
.shadow2,
.dot2{
    position: relative;
}

.shadow2{
    background-color: black;
    opacity: .7;
    top:0em;
    height: 3.5em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}


.Merch2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: .65em;
    text-align: right;
}

.dot2{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #FFFFFF;
    margin: 1em;
}

.Merch2,
.dot2{
  margin-right: 1em;
}
/* End of Merchandise section */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	body{
		max-width: 1200px;
    		margin: auto;
	}
/* Header for media*/
	header{
background-image: url(http://i.imgur.com/QonFtE7.png);
  background-repeat: no-repeat;
  position: relative;
  left: 400px;
  top: 00px;
}
ul {
    list-style-type: none;
    list-style-position: outside;
    width: 900px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    left: 400px;
    top: 00px;
    
}

li {
    float: left;
}

li a {
    display: block;
    color:  #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #555;
    color: white;
}
.Subscribe {
    background-color: #4CAF50;
}
.active {
    background-color: #000000;
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.circle{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: yellow;
  top: -31px;
  left: 395px;
  position: relative;
}
.circle2{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: red;
  top: -47px;
  left: 460px;
  position: relative;
}
.circle3{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: green;
  top: -63px;
  left: 550px;
  position: relative;
}
.circle4{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: purple;
  top: -79px;
  left: 620px;
  position: relative;
}
.circle5{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: orange;
  top: -95px;
  left: 705px;
  position: relative;
}
.circle6{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: blue;
  top: -110px;
  left: 810px;
  position: relative;
}.circle7{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: gray;
  top: -127px;
  left: 906px;
  position: relative;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* CSS for trending articles START */
  * {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
  width:49%;
    line-height: 100%;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
  text-align: left;
    background-color: black;
    color: #ffffff;
    padding: 2px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: white;
    color: ;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #F0F0F0 ;
}
/* CSS for trending articles END */
/* Css for trending desktop*/
.trending{
	background-color: #efefef;
	margin: -440px 600px;
	height: 1200px;
	width: 600px;
	display: flex;
	}
.egg{
	width:300px;
	height: 300px;
	margin: 0px 30px
	}
	.turkey{
		position: absolute;
		width: 250px;
		height:300px;
		margin: -300px 350px}
.corn{
	width:300px;
	height: 300px;
	margin: 0px 30px;
	}
	.foods{
		position: absolute;
		width: 250px;
		height:300px;
		margin: -300px 350px}
.img3{
	width:300px;
	height:300px;
	margin: 0px 30px;
	}
	.piggy{
		position: absolute;
		width: 250px;
		height:300px;
		margin: -300px 350px}
h2{ 
	font-family: "Helvetica neue";
	font-size: 1.5 em;
	color: a9a9a9;
	}
h3 {
	margin: -10px ;
	font-family: "Helvetica neue";
	font-size: 1.5 em;
	color: a9a9a9;
		}
